@font-face {
  font-family: "Red Hat Text";
  src: url(/assets/fonts/RedHatText-VariableFont_wght.ttf);
}

:root {
  --primary-clr: hsl(14, 86%, 42%);
  --secondary-clr: hsl(7, 20%, 60%);
  --white: hsl(20, 50%, 98%);
  --bg-clr: hsl(13, 31%, 94%);
  --border-clr: rgb(167, 166, 166);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 4rem;
  font-family: "Red Hat Text";
  font-size: 15px;
  background-color: var(--bg-clr);
}

h1 {
  margin-bottom: 2rem;
}

main {
  display: flex;
}

.products-list-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2rem;
  font-size: 16px;
}

.product-container {
  position: relative;
}

.product-image-container img {
  height: 15rem;
  border-radius: 10px;
  user-select: none;
}

.product-info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.product-category {
  color: var(--secondary-clr);
}

.product-name {
  font-weight: 700;
}

.product-price {
  color: var(--primary-clr);
  font-weight: 600;
}

button {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
}

.add-to-cart-btn {
  display: flex;
  align-items: center;
  position: absolute;
  font-weight: 600;
  column-gap: 0.3rem;
  bottom: 5rem;
  left: 2.5rem;
  border: 1px solid var(--secondary-clr);
  padding: 0.6rem 2rem;
  background-color: var(--white);
}

.add-to-cart-btn:hover {
  border: 1px solid var(--primary-clr);
  color: var(--primary-clr);
  transform: scale(1.05);
}